@import url(https://fonts.googleapis.com/css?family=Cinzel);



.container{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cinzel" , serif;
  font-size: 40px;
  /*margin-top: 20%;*/
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sunset{
  background: url(http://img.wallpaperfolder.com/f/63BA72E5C668/sunset-river-97109-high-quality-and.jpg)
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
