body{
  background: url(images/<?php echo $selectedBg; ?>) no-repeat;
}

#container{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#signal {
  font-family: "Baloo Bhaina",sans-serif;
  font-size: 70px;
  text-align: center;
  /*transition: 1.5s 0.2s ease-out;*/


}
