html {
  width: 100%;
  height: 100%;
}
body {

  display:flex;
  flex-direction: column;
  align-items:  center;
  background-image: url("http://rubinsworld.com/h2o2u/pure-waterbkg.jpg");
  background-size: cover;
}

#eyeimg {
  width:auto;
  height:auto;

  /*display:flex;
  flex-direction: column;
  justify-content: flex-start;;*/
}
header {
  text-align:center;
  font-weight: bold;
  color: #004A8E;
  justify-content: space-around;
  font-size: x-large;

}
