#container{
  background-color: #EBF9FF;
}

#body-yes{
  background-color: #D6F3FF;
  border-radius: 70%;
}

footer{
  font-family: "Ek Mukta",sans-serif;
  font-size: 20px;
  text-align: center;
  color: #5E5E5E;
  background-color: #fff;
  opacity:.75;
  position:absolute;
  bottom: 30;
  width: 90%;
  /*height: 30%;*/
}

.buttonText{
  height:60%;
}

#question{
  font-family: "Ek Mukta", sans-serif;
  font-size: 40px;
  color: #fff;
  opacity: .9;
  text-align: center;
  font-style: oblique;
  text-shadow: 1px 1px black;
}

#background{
  background-image: url("http://www.cayugacounty.us/Portals/0/watersewer/Water.png");
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 1px solid #B3B3B3;
  position: relative;
  opacity: .8;
}

#container{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#signal {
  font-family:sans-serif;
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  color: #000;
  opacity:.8;
  font-weight: 900;
  text-shadow: .5px .5px black;
  /*transition: 1.5s 0.2s ease-out;*/
}

#location{
  font-family: "Ek Mukta", sans-serif;
  font-size: 20px;
  color: #fff;
  opacity: .9;
  text-align: center;
  font-style: oblique;
  text-shadow: 1px 1px black;
}
#location, #signal{
  display: flex;
  flex-direction: column;
}
