
#body-yes{
  background-image: url("/images/hdwater2.jpg");
  background-size: cover;


#body-yes{
  background-color: #D6F3FF;
  border-radius: 70%;
}

footer{
  font-family: "Ek Mukta",sans-serif;
  font-size: 20px;
  text-align: center;
  color: #5E5E5E;
  background-color: #fff;
  opacity:.75;
  position: absolute;
  bottom: 50;
  width: 90%;
  box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, .8);
}

#background{
 background-image: url("http://www.cayugacounty.us/Portals/0/watersewer/Water.png");
 height: 220px;
 width: 220px;
 border-radius: 50%;
 border: 1px solid #B3B3B3 ;
 position: relative;
 opacity: .8;
 box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, .8);
}

.noStyle{
  background: rgb(51, 51, 51);
}


=======
  position:absolute;
  bottom: 10;
  width: 90%;
  /*height: 30%;*/
}

.buttonText{
  height:60%;
}

#background{
  background-image: url("http://www.cayugacounty.us/Portals/0/watersewer/Water.png");
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 1px solid #B3B3B3;
  position: relative;
  opacity: .8;
}

#container{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #01d49c;
}

#signal {
  font-family:sans-serif;
  font-size: 100px;
  text-align: center;
  color: rgba(51, 51, 51, .8);
  opacity:.8;
  font-weight: 900;
  text-shadow: .5px .5px black;
  margin-top: 50px;

  margin-top: 50px;
  color: #000;
  opacity:.8;
  font-weight: 900;
  text-shadow: .5px .5px black;
  /*transition: 1.5s 0.2s ease-out;*/
}

#location{
  font-family: "Ek Mukta", sans-serif;
  font-size: 20px;
  color: #fff;
  opacity: .9;
  text-align: center;
  font-style: oblique;
  text-shadow: 1px 1px black;
  position: absolute;
  width: auto;
  padding-left: 38px;
}
#location, #signal{
  display: flex;
  flex-direction: column;
}
